asgiref
beautifulsoup4
bleach
blinker
certifi
chardet
charset-normalizer
click
cloudinary
colorama
dj-database-url
Django
django-allauth
django-cloudinary-storage
django-contrib-comments
django-js-asset
django-mptt
dnspython
email_validator
filebrowser-safe
Flask
Flask-WTF
git-filter-repo
grappelli-safe
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
Mezzanine
oauthlib
packaging
pillow
psycopg2
psycopg2-binary
python-dotenv
pytz
requests
requests-oauthlib
six
soupsieve
sqlparse
stripe
tinycss2
typing_extensions
tzdata
tzlocal
urllib3
webencodings
Werkzeug
whitenoise
WTForms
