{% extends "base.html" %}
{% load static %}

{% comment %}
 Set the name of the page 
{% endcomment %}
{% block page_title %}
{% endblock page_title %}

{% comment %}
 Inject extra links into the page header
{% endcomment %}
{% block extra_head %}
{% endblock extra_head %}

{% comment %} 
 OVERRIDES the content in the BODY tag.
>>> DELETE WHEN NOT IN USE <<<
{% endcomment %}
{% block body %}
{% endblock body %}

{% comment %}
 CSS tag injection 
{% endcomment %}
{% block css_inpage %}
{% endblock css_inpage %}

{% comment %}
 Inject HTML for the content 
{% endcomment %}
{% block content %}
{% endblock content %}

{% comment %}
 To the bottom of the body tag 
{% endcomment %}
{% block extra_body %}
{% endblock extra_body %}

{% comment %}
 JS tag injection 
{% endcomment %}
{% block js_inpage %}
{% endblock js_inpage %}